body{
    background-color: rgb(175, 135, 212);
}

.customh1{
    text-align: center;
    color: beige;
}

.customMargin{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}